body{
	background-color: white;
	color: black;
}

.navbar{
	background-color: #0e76a8;
	/*border-bottom: dotted;*/
}
.navbar .navbar-nav .nav-link{
	color: black;
}

.navbar-toggle-icon{
	color:white;
}

#header{
	text-align: center;
	align-content: center;
	align-items: center;
	vertical-align: center;
	margin-top: 100px;
}

.card-body {
	background-color:#0e76a8;
	text-align: left;
	vertical-align: center;

}